<% url = "homepage/testimonies/frederic-mazzella_18_slider" %>
<div class="item">
  <div class="testimonial-wrapper" style="background-image: linear-gradient(rgba(240,240,240,0.8) 0%, rgba(200,200,200,0.6) 50%), url(<%= cl_image_path url %>);">    
    <div class="testimonial-author">
      Frédéric Mazzella
      ,  
      CEO
      @
      <a href='http://www.blablacar.com/' target='_blank' class="company-name">BlaBlaCar</a>
       - 
      France 
    </div>
    <div class="testimonial-quote">
      "It's important to share experience in order to motivate
      entrepreneurs to think global and expand internationally.I was
      very pleased to share my experience with BlaBlaCar during an
      event organized by Beeleev. French companies have tremendous
      international opportunities, let's transform these opportunitiesinto real global expansion!"
    </div>
  </div>
</div>