<div id="how_it_works">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-2">
				<h2>
					LOOKING FOR <span>ENTREPRENEURS</span>, <br>
					<span class="cascade1">PARTNERS</span> OR <br>
					<span class="cascade2">EXPERTS</span> ABROAD?
				</h2>
			</div>

			<div class="text-center">
				<!-- <div> -->
				<div class="col-sm-2 hidden-xs">
					<%= image_tag '18/people.png'%>
				</div>
				<div class="col-xs-12 col-sm-8">
					<span class="how_it_works_step">
						Reach out to other Entrepreneurs and our Ambassadors
						<br>
						in the Slack or within the Platform
					</span>
				</div>
				<!-- </div> -->
				<div class="col-sm-2">
					<!-- alignment column -->
				</div>	
				<div class="col-xs-12">
					<i class="fa fa-4x fa-angle-down" aria-hidden="true"></i>
				</div>
			</div>

			<div class="text-center">
				<div>
				<div class="col-sm-2 hidden-xs">
					<%= image_tag '18/connection.png' %>
				</div>
				<div class="col-xs-12 col-sm-8">
					<span class="how_it_works_step">
						Can't Find Your Match?
						<br>
						Send us a Direct Request and let our Teams do the Search
					</span>
				</div>
				<div class="col-sm-2">
					<!-- alignment column -->
				</div>
				</div>
				<div class="col-xs-12">
					<i class="fa fa-4x fa-angle-down" aria-hidden="true"></i>
				</div>
				<div>
			</div>

			<div class="text-center">
				<div>
				<div class="col-sm-2 hidden-xs">
					<%= image_tag '18/approved.png' %>
				</div>
				<div class="col-xs-12 col-sm-8">
					<span class="how_it_works_step">
						Like the Contacts we found?
						<br>
						Credit your Account and we'll organize introductions!
					</span>
				</div>
				</div>
			</div>
			
			<div class="row text-center">
			</div>
			<div class="btn btn-orange18-white">
				APPLY NOW
			</div>
			
			</div>
		</div>
	</div>
</div>