<div id="how_it_works">
	<div class="container">
		<div class="row text-center">
			<h2>
				LOOKING FOR <span>ENTREPRENEURS</span>, <span>PARTNERS</span> OR <span>EXPERTS</span> ABROAD?
			</h2>

			<div>
				<div>
				<div class="col-sm-2">
					<%= image_tag '18/people.png', class: "hidden-xs"%>
				</div>
				<div class="col-xs-12 col-sm-8">
					<span class="how_it_works_step">
						Reach out to other Entrepreneurs and our Ambassadors in the Slack or within the Platform
					</span>
				</div>
					
				</div>
				<div class="col-xs-12">
					<i class="fa fa-5x fa-angle-down" aria-hidden="true"></i>
				</div>
			</div>

			<div>
				<div>
				<div class="col-sm-offset-1 col-sm-2">
					<%= image_tag '18/connection.png', class: "hidden-xs"%>
				</div>
				<div class="col-xs-12 col-sm-8">
					<span class="how_it_works_step">
						Can't Find Your Match? Send us a Direct Request and let our Teams do the Search
					</span>
				</div>
				</div>
				<div class="col-xs-12">
					<i class="fa fa-5x fa-angle-down" aria-hidden="true"></i>
				</div>
				<div>

			</div>
				<div>
				<div class="col-sm-offset-1 col-sm-2">
					<%= image_tag '18/approved.png', class: "hidden-xs"%>
				</div>
				<div class="col-xs-12 col-sm-8">
					<span class="how_it_works_step">
						Like the Contacts we found? Credit your Account and we'll organize introductions!
					</span>
				</div>
				</div>
			</div>
			<div class="row text-center">
			</div>
			<div class="btn btn-orange18-white">
				APPLY NOW
			</div>
			
		</div>
	</div>
</div>