<div id="kpis">
	<div class="container">
	  <div class="row text-center">
	    <div class="col-xs-12 col-md-3">	    
	      		<div class="kpis-number">
	      			3000
	      		</div>
	      		<div class="kpis-text">
	      			CEOs
	      		</div>
  		</div>

	    <div class="col-xs-12 col-md-6">
	      		<div class="kpis-number">
	      			OVER $4BN
	      		</div>
	      		<div class="kpis-text">
	      			CUMULATED TURNOVER
	      		</div>
  		</div>

	    <div class="col-xs-12 col-md-3">
	      		<div class="kpis-number">
	      			5
	      		</div>
	      		<div class="kpis-text">
	      			OFFICES
	      		</div>
	    </div>
	  </div>
	</div>
</div>