<div id="partners_home_18">
	<div class="container">
		<div class="row">
		<h2>
			OUR GLOBAL PARTNERS
		</h2>
		<% @partners.each do |partner| %>
		<div class="col-xs-12 col-md-4">
			<a href=<%= partner.url %> target="_blank">
				<%= cl_image_tag partner.image.full_public_id,
	                   width: 200,
	                   height: 200,
	                   crop: :lpad,
	                   gravity: :center,
	                   fetch_format: :auto,
	                   class: 'img-responsive partners-logo' %>
			</a>
		</div>
		<% end %>
			
		</div>
	</div>

</div>