<div id="testimonials">
	<div class="container">
		<div class="row">
			
			<h2>
				TESTIMONIALS FROM SUCCESSFUL ENTREPRENEURS
			</h2>

			<div class="col-xs-12">
				<div class="testimonial">
					<div class="testimonial-img-wrapper hidden-xs">
						<div class="testimonial-img-inner-wrapper">
							<%= image_tag '18/mark.png', class: "avatar-xxl box-shadowed" %>
						</div>
					</div>
					<div class="testimonial-txt-wrapper">
						<h3 class="testimonial-title">
							SMART CONNECTOR
						</h3>
						<p class="testimonial-quote">
							"Thanks to Beeleev, I was able to use the Smart Connector and I really enjoyed it. It was a quick way to find the right people to help me with my fundraising. It was a great opportunity for me to meet with large companies because it is usually hard to get to them. The Smart connector helped me growing a positive network around my project. So yes, I would definitely endorse this tool."
						</p>
						<div class="testimonial-author">
							PERRINE BISMUTH
						</div>
						<div class="testimonial-position">
							Founder of FrenchFood capital
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>