<div id="home_world">
	<h2>
		SUCCESSFUL ENTREPRENEURS, WORLDWIDE
	</h2>
	<div class="container">
	  <div class="row">
	    <div class="col-xs-12 col-md-8">
	      <div class="bg-behave continent" style="background-image: url(<%= image_path("18/world.png") %>);"></div>
	    </div>
	    
	    <div class="col-xs-12 col-md-4">
	     <h3>
	     	NORTH AMERICA
	     </h3>
	     <div class="continent-coverage-pc">
	     	20%
	     </div>
	    </div>

	  </div>
	</div>
</div>