<div class="item">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-xs-12">
          <div class="testimonial">
            <div class="testimonial-img-wrapper hidden-xs">
              <div class="testimonial-img-inner-wrapper">
                <%#= image_tag "18/tim-kunde_18.png", class: "avatar-l box-shadowed " %>
                <%=  cl_image_tag "homepage/testimonies/tim-kunde_18",
              class: 'avatar-l box-shadowed',
              fetch_format: 'auto',
              width: 200,
              crop: 'scale' %>
              </div>
            </div>
            <div class="testimonial-txt-wrapper">
              <h3 class="testimonial-title">
                Entrepreneurs United
              </h3>
              <p class="testimonial-quote">
                "It was great to meet French entrepreneurs through Beeleev. We 
                had a very open discussion which gave a new perspective,
                especially on common challenges and different ways of
                approaching them."
              </p>
              <div class="testimonial-author">
                Tim Kunde
              </div>
              <div class="testimonial-position">
                CEO
                at
                <a href='https://www.friendsurance.de/' target='_blank' class="company-name">Friendsurance</a>
                <br>
                Berlin, Germany
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>