#home_banner {
	color:white;
  font-family: 'Lato', sans-serif;
	.slideshow_wrapper {
		min-height: 100vh;
		display: flex;
	  justify-content: center;
	  align-items: center;
  	position: relative;
  	overflow: hidden;
	}
  video {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    filter: grayscale(50%);
    z-index: -1;
    // filter: hue-rotate(90deg);
    // filter: sepia(1);
  }
	.slideshow_inner_wrapper{
	}

	#slideshow_title h1{
		font-family: 'Lato-Bold', sans-serif;
		font-weight: 900;
		color: white;
		font-size: 4em;
		padding-top: 25%;
		letter-spacing: -0.03em;
		span {
			color: $orange;
		}
	}
	#slideshow_subtitle h2{
		// font-family: 'Lato', sans-serif;
		// font-weight: 200;
		font-style: normal;
		// color: white;
		// font-size: 1.7em;
		text-transform: uppercase;
		// ______________________
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		color: white;
		margin-top: 0;
		margin-bottom: 0;
		font-size: 1.5em;
	}
	.subsubtitles {
		margin-top: 1em;
		margin-bottom: 3em;
		display: flex;
		align-items: center;
		justify-content: space-around;

	}
	.subsubtitles h3{
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		color: white;
		margin-top: 0;
		margin-bottom: 0;
		font-size: 1.4em;
	}
	.down-arrow {
		width: 12vw;
		margin: 0 auto;
    path {
    	fill: $orange;
    }
	}
	.btn-orange18-orange{
		margin: 2em 0 1.5em;
	}
}
//--------------- media queries ------------------
@media(max-width:767px) {
	#home_banner{
		.slideshow_inner_wrapper{
			padding: 0 1em;
		}
		#slideshow_title h1 {
			font-size: 3em;		
		}
		.subsubtitles{
			flex-direction: column;
			align-items: center;
			width: unset;
		}
		.down-arrow{
			width: 30vw;
		}
	}
}