#home_banner {
	color:white;
  font-family: 'Lato', sans-serif;
	.slideshow_wrapper {
		min-height: 100vh;
		display: flex;
	  justify-content: center;
	  align-items: center;
	}
	.slideshow_inner_wrapper{
		// display: flex;
	 //  align-items: center;
	 //  flex-direction: column;
	}

	#slideshow_title h1{
		font-family: 'Lato-Bold', sans-serif;
		font-weight: 900;
		color: white;
		font-size: 4em;
		padding-top: 20%;
		letter-spacing: -0.03em;
		span {
			color: $orange;
		}
	}
	#slideshow_subtitle h2{
		font-family: 'Lato', sans-serif;
		font-weight: 200;
		font-style: normal;
		color: white;
		font-size: 1.7em;
		text-transform: none;
	}
	.subsubtitles {
		margin-top: 3em;
		margin-bottom: 3em;
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-around;
		width: 66vw;
	}
	.subsubtitles h3{
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		color: white;
		margin-top: 0;
		margin-bottom: 0;
		font-size: 1.5em;
	}
	.down-arrow {
		width: 12vw;
		margin: 0 auto;
    path {
    	fill: $orange;
    }
	}
}