#how_it_works{
	background-color: $orange;	
	h2{
		font-family: 'Lato', sans-serif;
		font-weight: 700;
	  font-size: 2.5em;
	  font-style: normal;
		color: white;
	  padding: 1em 0;
	  text-align: unset;
	  .cascade1{
	  	margin-left: 11em;
	  }
	  .cascade2{
	  	margin-left: 14em;
	  }
	}
	i {
		color: white;
	}
	.how_it_works_step {
		color: $text-grey;
		font-size: 1.75em;

	}
	span {
		// color: $bleu-fonce;
		color: rgb(0,53,226);
	}
	img{
		width: 100px;
	}
}
//--------------- media queries ------------------
@media(max-width:767px) {
	#how_it_works{
		padding: 0 1em;
		h2{
			text-align: center;
			font-size: 2em;
			.cascade1{
		  	margin-left: 0;
			}
			.cascade2{
		  	margin-left: 0;
			}
		}
		.how_it_works_step {
			font-size: 1.2em;
    	padding: 1em 0;
		}
	}	
}