#how_it_works{
	background-color: $orange;	
	.title-wrapper{
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 1em 0;
	}
	h2, .ending-h2,.cascade0,.cascade1,.cascade2{
		// font-family: 'Lato', sans-serif;
		// font-weight: 700;
	 //  font-size: 2.5em;
	 //  font-style: italic;
		// color: white;
	 //  padding: 1em 0;
	 //  text-align: unset;
	 //  margin: 0;

		// color: rgb(0,53,226);
			text-transform: uppercase;
	 		font-family: 'Lato', sans-serif;
	 		font-weight: 700;
	 	  font-size: 2em;
	 	  font-style: normal;
	 		color: white;
	 	  padding: 1em 0;
	 	  text-align: unset;
	 	  margin: 0;
	  .discreet{
	  	display: none;
	  }
	}
	.cascades{
		padding:0 1em;
	}
	.cascade0,.cascade1,.cascade2{
 	  font-size: 2.5em;
		text-transform: uppercase;
	 	font-style: italic;
		line-height: 1.2;
	}
	.cascade1{
		margin-left: 1em;
	}
	.cascade2{
			margin-left: 2.5em;
		}
	
	i {
		color: white;
	}
	.how_it_works_step {
		color: $text-grey;
		font-size: 1.75em;
		text-align: left;
	}
	img{
		width: 85px;
	}
	.btn-orange18-white {
		margin: 1.3em 0 1.3em;
	}
}
//--------------- media queries ------------------
@media(max-width:767px) {
	#how_it_works{
		padding: 0 1em;
		h2{
			text-align: center;
			font-size: 2em;
			.cascade1{
		  	margin-left: 0;
			}
			.cascade2{
		  	margin-left: 0;
			}
		}
		.how_it_works_step {
			font-size: 1.2em;
    	padding: 1em 0;
		}
	}	
}