#kpis{
	background-color: $bg-grey;
	.kpis-number{
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		color: $orange;
	  font-size: 5em;
	}
	.kpis-text{
	  padding-bottom: 0.5em;
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		color: $bleu-fonce;
	  font-size: 2em;
	}

}

//--------------- media queries ------------------
@media(max-width:767px) {
	#kpis{
		.kpis-number{
	  	font-size: 3em;
		}
		.kpis-text{
	  	font-size: 2em;
		}
	}
}
