#kpis{
	background-color: $bg-grey;
	display: flex;
  justify-content: space-around;
  height: 100%;
	.kpis-number{
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		color: $orange;
	  font-size: 5em;
	  padding-top: 1em;
	}
	.kpis-text{
	  padding-bottom: 3em;
		font-family: 'Lato', sans-serif;
		font-weight: 400;
		color: $bleu-fonce;
	  font-size: 2em;
	}

}