#partners_home_18{
	background-color: $bg-grey; 
	h2{
		font-family: 'Lato', sans-serif;
		font-weight: 700;
	  font-size: 2.5em;
	  font-style: normal;
		color: $orange;
	  padding: 0.5em 0 0.5em;
	  // padding: 0;
	}
	.partners-logo {
		width: 150px;
		margin: 0 auto 1em;
	}
}
//--------------- media queries ------------------
@media(max-width:767px) {
	#partners{
		padding: 0 1em;
		h2{
			font-size: 2em;
		}
	}
}