#selling-points{
	h2{
		font-family: 'Lato', sans-serif;
		font-weight: 700;
	  font-size: 2.5em;
	  font-style: normal;
		color: $orange;
	  // padding: 1em 0;
	}
	h3{
		font-family: 'Lato', sans-serif;
		font-weight: 700;
  	font-size: 1.5em;
	  font-style: normal;
		color: $orange;
	  margin: 0.3em 0 0;
	}
	i {
		display: inline-block;
		border-radius: 100px;
		box-shadow: 0px 0px 2px #888;
		padding: 0.6em;
	}
	img {
			display: inline-block;
			border-radius: 150px;
			box-shadow: 0px 0px 4px #888;
			padding: 1em;
			width: 120px;
	}
	p {
		margin-bottom: 0;
	}
	.btn-orange18-orange{
		margin: 1em 0 1.6em;
	}
}
@media(max-width:767px) {
	#selling-points{
		padding: 0 1em;
		h2{
	  	font-size: 2em;
		}
		h3{
	  	font-size: 1.7em;
		}
		img{
		}
	}
}