#home_world{
	.height-setter{
		height: 45vh;
	}
	h2 {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-style: normal;
		color: $gray;
	  font-size: 1.8em;
	  text-align: center;
	  span{
			color: $orange;
	  	font-size: 2.3em;
	  }
	}
	h3 {
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-style: normal;
		color: $title-grey;
	  font-size: 2.5em;
	  text-align: center;
	  padding: 1em 0 0;
	  margin-bottom: 0;
	}
	img {
		padding: 0 2em;
	}
	.continent-coverage-pc{
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-style: normal;
		color: $orange;
	  font-size: 10em;
	  text-align: center;
	}
}
//--------------- media queries ------------------
@media(max-width:991px) {
	#home_world{
		.height-setter{
			height: unset;
		}
		.continent-coverage-pc{
		  font-size: 7em;
		}
	}
}
@media(max-width:767px) {
	#home_world{
		.continent-coverage-pc{
		  font-size: 4em;
		}
		h2 {
			font-size: 1.5em;
			span {
				font-size: 1.4em;
			}
		}
		h3 {
			font-size: 1.7em;
		}
	}
}