p<div id="partners_18" class="below-nav">
  <div class="container">
    <div class="row">
      
      <div class="col-xs-12 text-center">
        <h1>
          Meet our partners
        </h1>
        <h2>
          International Groups and Leaders in their Fields, our Partners Support our Community of Entrepreneurs by:
        </h2>
      </div>
      <div class="col-xs-12 partners-bullets-wrapper">
        <div class="partners-bullets">
            <p>
              Sourcing Innovations<br>
              and Calling For Projects <br>
              within the Community
            </p>
            •
            <p>
              Providing them useful content, <br>
              contacts & support for <br>
              their international growth
            </p>
            •
            <p>
              Offering them <br>
              Exclusive Discounts <br>
              on their services
            </p>
        </div>
      </div>
      <!-- <div class="col-xs-12 text-center col-sm-4">
        <p>
          Sourcing Innovations and Calling For Projects within the Community
        </p>
      </div>
      <div class="col-xs-12 text-center col-sm-4">
        <p>
          Providing them useful content, contacts & support for their international growth
        </p>
      </div>
      <div class="col-xs-12 text-center col-sm-4">
        <p>
          Offering them Exclusive Discounts on their services
        </p>
      </div> -->

      <div class="col-xs-12 text-center">
        <div class="btn btn-orange18-orange">
          CONTACT OUR PARTNERS
        </div>
      </div>
      
      <% @partners_categories.each do |partner_category| %>
      <div class="col-xs-12">
        <div class="overtitle-date">
          <div class="lign-center">
          </div>
          <div class="title-wrapper">
            <h3>
              <%= partner_category.name %>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-xs-12 partners-wrapper">
        <% partner_category.partners.each do |partner|  %>
          <%= render partial: 'partners/partner_18', locals: { partner: partner } if partner %>
        <% end %>
      </div>
      <% end %>

      <!-- <div class="col-xs-12 text-center">
        <div class="btn btn-orange18-orange">
          CONTACT OUR PARTNERS
        </div>
      </div> -->
    </div>
  </div>
</div>

<% content_for :meta_title, "Our Partners" %>
<% content_for :meta_description, "Our Partners Call for Projects, Source Innovation and provide our members content, contacts, exclusive discounts and support for their international growth" %>