<br><hr class="hr-75pc">
<div id="profile_community">
	<h2>MY COMMUNITY</h2>
	<br>



	<div class="container">
		<div class="row">
					
					<% @user.active_network.each do |connection| %>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<%= user_panel(connection, version_18: true) %>
						</div>
					<% end %>

		</div>
	</div>
</div>