<img src=<%= image_path('team/vp-scandinavia.jpg') %> alt="" class="img-responsive img-circle">
<h3 class="name">
	Rasmus Arendt Nielsen
</h3>
<h4 class="title">	
	 VICE PRESIDENT
	 <br>
	 SCANDINAVIA
</h4>