<div class="below-nav">


	<div class="btn btn-orange18-white">
		DO STH NOW
	</div>
	<div class="btn btn-orange18-orange">
		DO STH NOW
	</div>
	<div class="small-card">
		<%=  render "home/team/hugues_18"  %>
	</div>
	<div class="large-card">
		<%=  render "home/team/hugues_18"  %>
	</div>


</div>