<div class="col-xs-12 col-md-8">
  <img src=<%= image_path '18/world.png' %> alt="" class="img-responsive">	      
</div>

<div class="col-xs-12 col-md-4 height-setter">
  <h3>
 	  AFRICA
  </h3>
  <div class="continent-coverage-pc">
 	  20%
  </div>
</div>