// __________________components______________________
 
.btn-orange18-white {
	color: $orange;
  background-color: white;
  border-color: $orange !important;
  font-weight: bold;
  padding: 0.75em 2em;
  margin: 2em;
  font-size: 1.5em;
  box-shadow: 2px 1px 1px rgb(214,121,59);
  &:hover{
    color: white;
    background-color: $orange;
  }
}
.btn-orange18-orange {
  color: white;
  background-color: $orange;
  border-color: $orange !important;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding: 0.75em 2em;
  margin: 2em;
  font-size: 1.5em;
  box-shadow: 2px 1px 1px rgb(214,121,59);
  &:hover{
    color: $orange;
    background-color: white;
  }
}


.bg-behave{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.box-shadowed{
  box-shadow: 0px 0px 4px #888;
}
.avatar-xxl{
  width: 350px;
  border-radius: 50%;
}
