#account{
	min-height: 80vh;
	.recharge {
		font-family: 'Lato', sans-serif;
		color: $orange;
	}
	.credit-box-wrapper{
		flex-direction: column;
	}
	.credit-box-credit-wrapper{
		flex-direction: column;
		background-color: $bleu-fonce;
		color: white;
		min-height: 30vh;
		width: 80%;
		border-radius: 4px;
		margin: 2vh 0;
		.number{
			font-size: 2em;
		}
	}
	.delete-profile{
  	&:hover, &:active, &:focus{
	  	text-decoration: none;
	  }
	  h4{
			font-family: 'Lato', sans-serif;
			color: $orange;
			font-weight: 400;
		  font-size: 1em;
	  	margin-bottom: 2em;
		  &:hover{
		  		color: red;
		  }
	  }
	}
}	