#account{
	min-height: 80vh;
	h1{
		font-family: 'Lato', sans-serif;
		font-weight: 700;
	  font-size: 2.5em;
	  font-style: normal;
		color: $orange;
	  margin: 0;
	}
	h2{
		font-family: 'Lato', sans-serif;
		font-weight: 400;
	  font-size: 1.5em;
	  font-style: normal;
		color: $orange;
	  margin: 34px 0 0;
	}
	.recharge {
		font-family: 'Lato', sans-serif;
		color: $orange;
	}
	.credit-box-wrapper{
		flex-direction: column;
	}
	.credit-box-credit-wrapper{
		flex-direction: column;
		background-color: $bleu-fonce;
		color: white;
		min-height: 30vh;
		width: 80%;
		border-radius: 4px;
		margin: 2vh 0;
		.number{
			font-size: 2em;
		}
	}
}	