// __________________components______________________
 
.btn-orange18-white {
	color: $orange;
  background-color: white;
  border-color: $orange !important;
  font-weight: bold;
  padding: 0.75em 2em;
  margin: 2em;
  font-size: 1.5em;
  box-shadow: 2px 1px 1px rgb(214,121,59);
  transition: all 0.5s ease;
  &:hover{
    color: white;
    background-color: $orange;
  }
}
.btn-orange18-orange {
  color: white;
  background-color: $orange;
  border-color: $orange !important;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding: 0.75em 2em;
  margin: 2em;
  font-size: 1.5em;
  box-shadow: 2px 1px 1px rgb(214,121,59);
  transition: all 0.5s ease;
  &:hover{
    color: $orange;
    background-color: white;
  }
}
.btn-orange18-gray {
  color: white;
  background-color: $gray;
  border-color: $gray !important;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding: 0.75em 2em;
  margin: 2em;
  font-size: 1.5em;
  box-shadow: 2px 1px 1px $gray;
  transition: all 0.5s ease;
  &:hover{
    color: black;
    background-color: #AAA;
  }
}
@media(max-width:767px) {
  .btn-orange18-orange, .btn-orange18-white {
    font-size: 1.1em;
  }
}

.bg-behave{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.box-shadowed{
  box-shadow: 0px 0px 4px #888;
}
.avatar-xl{
  width: 250px;
  border-radius: 50%;
}
.avatar-l{
  width: 200px;
  border-radius: 50%;
}
.avatar-m{
  width: 150px;
  border-radius: 50%;
}
.avatar-s{
  width: 100px;
  border-radius: 50%;
}
.avatar-xs{
  width: 50px;
  border-radius: 50%;
}

.small-card {
  width: 200px;
}
.large-card {
  width: 250px;
}
.small-card, .large-card {
  font-family: "lato-bold",sans-serif;
  padding: 10px;
  .name {
    font-weight: 700;
    margin: 0.5em 0 0;
    font-size:1.3em;
    color: $bleu-fonce;
  }
  .title {
    font-weight: 400;
    text-transform: uppercase;
    font-size:1em;
    color: $gray;

  }
}
.hr-50pc{
  width: 50%;
  margin: 0 auto;
}
.hr-75pc{
  width: 75%;
  margin: 0 auto;
}
.hr-90pc{
  width: 90%;
  margin: 0 auto;
}
// ------------ title followed by horizontal line
.overtitle-date {
  background-color: #fff;
  margin: 40px 0 20px;
  .lign-center {
    height: 1px;
    width: 100%;
    background-color: #ddd;
  }
  .title-wrapper {
    width: 200px;
    margin: -0.75em auto 0 0;
    h3 {
      font-family: 'Lato', sans-serif;
      text-align: left;
      font-size: 1.5em;
      background-color: #fff;
      margin: 0px;
      padding: 0px;
      color: #fb9048;
    }
  }
}
@media(max-width:767px) {
  .overtitle-date {
    .title-wrapper {
      width: 110px;
      h3 {
        font-size: 1.1em;
        
      }
    }
  }
}