//------------original menu.scss commented-------------
#sign_up_with_email {
  display: none;
}

#sign_up_with_email, #log_in_with_email {

  .form-group {
    position: relative;

    span.form-control-feedback {
      opacity: 0.5;
      top: 0px;
    }

  }
}

.navbar-default{
  background-color: white;
  border-color: white;
  border-bottom: 1px solid $grey;
  .SoMeicons i {
    color: $bleu-fonce;
  }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  background-color: white;
}

.navbar-default .navbar-nav > li {
  .btn-default.active {
    background-color: inherit;
    @include box-shadow(none);
    color: $orange;
  }
}

.navbar-default .navbar-nav > li > a {
  color: $bleu-fonce;
  &.active {
    color: $orange;
  }
  &:hover, &:focus, &:active{
    color: $orange;
  }
}

body.cookiebanner .lemenu {
  top: 28px;
}

.lemenu {
  border: none;
  border-radius: 0px;
  margin: 0px;
  padding: 10px;
  
  .navbar-nav {
    li {
      a {
        padding: 10px;
      }
    }
  }

  .navbar-brand {
    position: relative;
    top: -7px;
  }

  .btn.btn-default {
    border: $bleu-fonce;
    margin-left: 6px;
    margin-right: 6px;
    &:hover{
      background-color: $bleu;
      color: #fff;
    }
    &:focus{
      background-color: #fff;
    }
  }


  .btn.btn-default2 {
    border: 1px solid $orange;
    color: $orange;
    margin-right: 4px;
    margin-left: 4px;
    &:hover, &:focus, &:active{
      color: #fff;
      background-color: $orange;
    }
  }

  a {
    text-transform: uppercase;
    font-family: "proxima-nova", sans-serif;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 2px;
    &:hover {
      color: #fff;
    }
  }


  .dropdown-menu {
    width: 100%;
    .simple-lien {
      text-transform: none;
      letter-spacing: 1px;
    }
  }

}
#lemenu{
  transition: all 0.5s ease;
}
.lemenu18_transparent{
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.15), rgba(0,0,0,0));
  .navbar-nav > li a {
    color: white;
    &:hover{
      color: $orange;
    }
  }
}

@media(max-width:767px) {
  .lemenu18_transparent{
    background-color: white;
  }
}
.lemenu18_white{
  background-color: white;
  border-bottom: 1px solid $grey;
  
  .navbar-nav > li a {
    color: $bleu-fonce;
    &:hover{
      color: $orange;
    }
    &.active {
      color: $orange;
    }
  }
  
  .SoMeicons i {
    color: $bleu-fonce;
  }

}
.logo-hidden{
  display: none; 
}
.SoMeicons i {
  color: white;
}
.scrolled_transparent {
  background: unset;
  background-color: white;
  border-bottom: 1px solid $grey;
  .navbar-nav > li a {
    color: #555;
  }
  .SoMeicons i {
    color: $bleu-fonce;
  }
  
  a {
    color: $orange;
    &:hover{
      color: rgba(216,125,64,1);
    }
  }
  
}
 
@media (min-width: $screen-xs-min) and (max-width: $screen-sm-min) and (orientation: portrait) {
  .logo img {
    width: 88px;
  }
}


@media(max-width:767px) {
  .lemenu {
    .btn.btn-default2 {
      border: 1px solid $bleu-clair;
      margin: 5px;

      &:hover{
        color: #fff;
        background-color: $bleu-clair;
      }
      &:focus{
        background-color: $bleu;
      }
    }
  }
  .logo-hidden{
      display: inline;
  }
}

// This class must be used on anchors before blocks that we don't want to
// be hidden by the navbar-fixed-top
.below-navbar-fixed-top-anchor {
  position: relative; top: -62px;
}
