#network-search-any, #network-search-one{
	font-size: 1.5em;
}
#my_network, #network-search{
	min-height: 80vh;
	h1{
		font-family: 'Lato', sans-serif;
		font-weight: 700;
	  font-size: 2.5em;
	  font-style: normal;
		color: $orange;
	  margin: 0;
	}
	.filter-box{
		border: 2px solid $orange;
		border-radius: 3vh;
		padding: 1vh;
		margin: 1vh 0 2vh;
	}
	.bordered {
		border-right: 1px #C8C8C8 solid;
	}
	.form-title{
		font-family: 'Lato-Bold', sans-serif;
		font-weight: 700;
		color: $gray;
	  text-align: center;
	  padding: 10px;
	}
	.expanded{
		width: 20vw;	
	}
	.btn-orange18-orange{
		margin: 20px 0 10px;
		padding: 0.25em 1em;
		font-size: 1em;
	}
	.no-paginattion-placeholder-quickfix{
		height: 20px;
	}
	.network-help{
		display: inline-block;
		font-family: 'Lato', sans-serif;
		font-weight: 400;
	  font-size: 1.5em;
	  font-style: normal;
		color: $gray;
	  margin: 30px 0 0;
	}
}
#network-search-any form, #network-search-one form{
	height: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	input {
		min-height: 40px;
	}
}
@media(min-width:767px) {
	#my_network, #network-search{
		.country-city-wrapper{
			min-height: 7.5vw;
	    display: flex;
	    flex-direction: column;
	    justify-content: space-between;
		}
	}
}
@media(max-width:767px) {
	#my_network, #network-search{
		font-size: 1.2em;
	}
	#network-search{
		#network-search-any form, #network-search-one form{
			height: unset;
		}
		.expanded{
			width: 70vw;
		}
		.country-city-wrapper{
			min-height: unset;
		}
		.bordered{
			border-bottom: 1px #C8C8C8 solid;
			border-right: none;
		}
		.btn-orange18-orange{
			margin: 10px 0 20px;
			padding: 0.5em 1em;
		}
		h1{
		  font-size: 1.8em;
		  margin: 1vh 1vh 0;			
		}
	}
}