//------------original news.scss commented-------------
#news {
  margin: $gutter*3 0;

  h2{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    color: $orange;
    padding: 1em 0;
  }
  .img_side{
    background-color: $grey;
    height: 250px;
    background-image: url("https://picsum.photos/200/200");
    background-size: cover;
    padding-bottom: 20px;
  }
  .text-side{
    p {
      margin-top: 30px;
      color: #9B9B9B;
      text-align: justify;
      font-size: 1.2em;
      line-height: 1.3;
      a {
        text-decoration: none;
        color: $bleu;
      }
    }
    h3 {
      font-family: 'Lato', sans-serif;
      color: $gray;
      font-size: 2em;
      margin: 0px;
      padding: 0px;
      text-align: left;
      text-transform: none;
    }
    h3.subtitle{
      font-size: 1.5em;
      color: $bleu-fonce;
      text-transform: uppercase;
    }

  }
  
}
.news-form {
  padding-bottom: 10px;
  background-color: #fff;
  margin: 40px 0;
  text-align: left;
  border-radius: 4px;

  h2  {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-left: 0px;
    text-align: left;
    font-style: normal;
    margin-bottom: 5px;
    // color: $bleu;
    color: $gray;
  }

  h2.suite {
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    margin-left: 0px;
    margin-top: 0px;
    text-align: left;
  }
  hr {
    height:1px;
    border:none;
    color:#ddd;
    background-color:#ddd;
    width:60%;
    margin:10px auto 40px;
  }
}

.overtitle-date {
  background-color: #fff;
  margin: 40px 0 20px;
  .lign-center {
    height: 1px;
    width: 100%;
    background-color: #ddd;
  }
  .title-wrapper {
    width: 200px;
    margin: -0.7em auto 0 0;
    h3 {
      font-family: 'Lato', sans-serif;
      text-align: left;
      font-size: 1.5em;
      background-color: #fff;
      margin: 0px;
      padding: 0px;
      color: #fb9048;
    }
  }
}
