//------------original team.scss commented-------------
#team_18{
  h1{
    font-family: 'Lato-bold', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $orange;
    text-transform: uppercase;
    letter-spacing: inherit;
    text-align: center;
    font-size: 2em;
    padding-top: 1em;
  }
  .sub_header{
    color: $gray;
    font-family: 'Lato-light', sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    text-transform: none;
    padding: 1.5em 0;
    text-align: center;
    }
  h2{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $gray;
    text-align: center;
    font-size: 1.5em;
  }
  .last-wrapper {
    .last-over-title {
      padding: 1.5em 0 0.5em;
      font-size: 1em;
    }
    .last-title{
      font-family: 'Lato-bold', sans-serif;
      font-weight: 400;
      font-style: normal;
      color: $gray;
      text-transform: none;
      letter-spacing: inherit;
      text-align: center;
      font-size: 1.4em;
    }
  }
  .highlight{
    color: $orange;
  }
  .caption {
    font-weight: 400;
    font-size: 3em;
    padding: 0.75em 0 1em;
    font-style: normal;
    color: $orange;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: center;
  }
  .btn-orange18-orange{
    // margin:0 0 0.5em;
  }
  // ___________________________organigram______________________________
  .team-avatar{
    max-width: 220px;
    margin: 0 auto;
  }
  h3.name{
    margin-top: 1em;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: $bleu-fonce;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
  }
  h4.title{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $gray;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 10px 0 30px;
  }
}
//--------------- media queries ------------------
// @media(max-width:767px) {
  
// }