#shop{
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		color: #4A4A4A;
	h1{
	  font-style: normal;
		color: $orange;
	  text-align: center;
	  margin: 5vh 0;
	}
	.testimonial-wrapper{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background-size: cover !important;
		height: 300px;
		padding: 10px;
	}
	.testimonial-author{
	  font-size: 1.1em;
	}
	.testimonial-quote{
		font-weight: 400;
		font-style: italic;
		font-size: 1em;
		line-height: 2.5;
	}
}