@import "variables";
@import "common";
@import "website/variables";

@import "black-tie/black-tie";
@import 'products';
// @import 'font-awesome';
@import 'fonts';

//----------dropdown menu------------

@import "bootstrap";
@import "select2/select2";
@import "select2-bootstrap-css/compass/stylesheets/select2-bootstrap";
@import "bxslider-4/jquery.bxslider";

@import 'website/homepage';
@import 'buttons';

.anchorTarget {
  &::before {
    content:"";
    display:block;
    height:70px; /* fixed header height*/
    margin:-70px 0 0; /* negative fixed header height */
  }
}


.uppercase {
  text-transform: uppercase;
}

body.textured {
  // background-image: asset-url('application/patterns/shattered.png');
  // background-repeat: repeat;
}

.below-nav {
  margin-top: 73px;
}

h1 {
  font-family: "proxima-nova",sans-serif;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 5px;

}

h2 {
  margin: 16px 0 16px;
  color: #ccc;
  font-family: "fira-sans",sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  font-style: italic;

  &.darker {
    color: #555;
  }
}

@media (min-width: $screen-sm-min) {
  h2 {
    margin: 20px 0 20px;
    font-size: 23px;
 }
}

h3 {
  font-family: "proxima-nova",sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 60px;
  color: $orange; //$bleu;
}

h4 {
  font-family: "fira-sans",sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;

}


h5 {
  font-family: "fira-sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 2px;
}



p {
  font-family: "fira-sans",sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center; // this is foolish !
  color: #555;
}



a {
  font-family: "fira-sans",sans-serif;
  color: #555;
  &:hover {
    text-decoration: none;
    color: $orange;
  }
}

.blue-underlined-link {
  color: $bleu;
  text-decoration: underline;
}

// CMS

.cms {

  &.text-justify p {
    text-align: justify;
  }

  margin-top: 40px;

  font-family: "fira-sans",sans-serif;

  a {
    color: $bleu;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  p {
    text-align: left;
  }

}
//----------HM18 TODO put at the right place------------
@import 'website18/index18';
@import "menu18";

// homepage beeleev :
@import "menu";
@import "visuels";
@import "testimonies";
@import "beeleevers";
@import "maps_beeleevers";
@import "benefits";
@import "apply";
@import "blocs";
@import "footer";
@import "footer_18";

// autres pages de Beeleev :
@import "partners";
@import "partners_18";
@import "team";
@import "team_18";
@import "news";
@import "news18";
@import "components";
@import "errors";
@import "direct-request_modal";
@import "mc_embed_form";




