<div class="fond-news">
  <div class="container">
    <div class="row" id="news">
      
      <div class="col-xs-12">
        <h2>
          <!-- LATEST NEWS FROM BEELEEV -->
          All the Meet Ups, Breakfast Talks, Networking Events and Learning Expeditions you missed!
        </h2>
      </div>
      <% last_date = "" %>
      <% same_date = false %>
      <% @posts.each do |post| %>
        <% post.publication_year_month == last_date ? same_date = true : same_date = false %>
        <%= render partial: "event_posts/post_row18", locals: { post: post, same_date: same_date } %>
        <% last_date = post.publication_year_month %>
      <% end %>

    </div>
  </div>  
</div>